header{
    min-height: 50px;
    background-color: aqua;
}
header .container{
    background-color: blueviolet;
}
header .logo{
    width: 30%;
    background-color: bisque;
}
#name-in-menu{
    font-family: var(--font-primary);
    text-transform: capitalize;
}
header nav{
    width: 700px;
    min-height: 100%;
    background-color: blue;
    margin: 10px 0 10px 300px;
}
.main-menu ul{
    align-items: space-between;
    justify-items: space-between;
    background-color: forestgreen;
    height: 100%;
}
.main-menu li{
    flex: 1;
    padding: 0 20px;
    min-width: 20px;

}